* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-registro {
  position: absolute;
  top: 1rem;
  left: 40%;
  text-align: center;
  z-index: 100;
  transition: all .5s ease;
  visibility: visible;
}

.edit-registro {
  position: absolute;
  top: 1rem;
  left: 40%;
  text-align: center;
  z-index: 100;
  transition: all .5s ease;
  visibility: visible;
}

.notif-campo {
  position: absolute;
  top: 1rem;
  left: 40%;
  text-align: center;
  z-index: 100;
  transition: all .5s ease;
  visibility: visible;
}

.disabled {
  opacity: 0;
  visibility: hidden;
}

.layer-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 120vh;
  width: 100%;
  z-index: 1000;
}

.form-editar {
  width: 70%;
}

.form-editar > input,
.form-editar > select,
.form-editar > button {
  margin-top: .3rem;
}

.buscador {
  width: 400px;
}

.nav-page {
  position: sticky;
  top: 0;
  background-color: white!important;
}

.main {
  background-color: rgb(231, 231, 231);
  padding: 1rem;
}

.container {
  background-color: white;
}